@model SecretMadonna.NEMS.UI.TeacherWebUI.Models.AccountLoginModel

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - TeacherWebUI</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Loginname)
                @Html.TextBoxFor(m => m.Loginname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Value = Model.Password })
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</body>
</html>
